body {
  margin-top: 80px;
  background-color: #212229;
  color: white;
}

nav {
  position: relative;
  bottom: 100%;
}
header {
  background-color: tomato;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: tomato;
  padding: 20px 10px;
  margin: 0;
  margin-top: 30px;
}
.cover-img {
  border-radius: 10px;
  border: 1px solid silver;
}

.highlgihts-wrapper .col-sm-2 {
  padding: 0.5%;
}

.highlgihts-wrapper .col-sm-4 {
  padding: 0 0.5%;
}
.highlight-elemt {
  border: 1px solid tomato;
  border-radius: 3px;
  text-align: center;
}

.highlgihts-wrapper img {
  padding: 4px;
  border-radius: 5px;
}
.highlgihts-wrapper h6 {
  margin: 7px 0;
  color: tomato;
}
